[Unit]
Description=Run forever check service
After=network-online.target

[Service]
WorkingDirectory=/home/pi/kidpi/rememberall/
ExecStart=/usr/local/bin/node /home/pi/kidpi/rememberall/index.js
StandardOutput=syslog
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
Alias=remember.service

