[Unit]
Description=Run forever check service
After=network-online.target

[Service]
WorkingDirectory=/home/pi/kidpi/dogshow/
ExecStartPre=killall rec
ExecStart=/usr/bin/nodejs /home/pi/kidpi/dogshow/index.js
StandardOutput=syslog
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
Alias=dogshow.service

