[Unit]
Description=AP Service for PI
After=network-online.target

[Service]
ExecStart=/usr/bin/nodejs /home/pi/kidpi/apmagic/index.js
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
Alias=apmagic.service

